/*		Default Layout: 992px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  /*---------------------------------------------
					Index Start
-----------------------------------------------*/


#intro .par1 img {

  width: 132.5%;
  height: 800px;
}
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*---------------------------------------------
					Index Start
-----------------------------------------------*/


#intro .par1 img {

margin-top: 70px;
  width: 111%;
  height: 500px;
}

  /*--
	content Start
--*/
  #content {
    text-align: center;
  }
  #content .block {
    padding-bottom: 100px;
  }
  /*--
	features Start
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  #features {
    text-align: center;
  }

  #feature .feature1 {
text-align: center;
}

    #feature .btn-contact {
      margin: 5px 0 100px 0px;
      font-size: 17px;
    }

    #feature .btn-contact {
      padding: 1px 20px;
  }

    #feature .feature2 {
      padding-top: 0px;
      padding-left: 15px;
  }


  /*--
	footer Start
--*/
  footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    min-height: 40px;
  }
  footer .navbar-default {
    border: 0px;
    width: 68%;
  }
  footer .navbar-default .navbar-nav li a {
    color: #494949;
    padding: 10px 10px;
    font-size: 15px;
  }
  footer .navbar-default .navbar-nav li a:hover {
    color: #000;
  }
  /*---------------------------------------------
					Index Close
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					Work Start
-----------------------------------------------*/
  /*--
	slider-work Start
--*/
  #slider-work .block h1 {
    font-size: 28px;
  }
  #slider-work .block p {
    font-size: 15px;
  }
  /*--
	portfolio Start
--*/
  #portfolio-work .block .portfolio-manu {
    padding-left: 0px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading {
    padding: 5px 0 5px 13px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading h2 {
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading p {
    font-size: 11px;
    line-height: 20px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay {
    padding-left: 15px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay h2 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
  }
  /*--
	wrapper Start
--*/
  #wrapper-work ul li .items-text {
    padding-top: 0;
    padding-left: 25px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-bottom: 10px;
    padding-top: 40px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 30px;
  }
  /*--
	features Start
--*/
  #features-work .block ul li {
    width: 49%;
  }
  /*---------------------------------------------
					Work close
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					contact start
-----------------------------------------------*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  /*--
	features-contact Start
--*/
  #features-contact .block ul li {
    width: 49%;
  }
  /*---------------------------------------------
					contact close
-----------------------------------------------*/
  /*------------------*/
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (min-width: 667px) and (max-width: 768px) {
  /*--------------------------------------------------------------------------------------------------------
					Index Start
-----------------------------------------------*/
  .heading {
    padding-left: 0px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }


  /*--
    Header Start
  --*/

  header .navbar-brand {
    padding-top: 40px;
    Width: 400px;
    margin-bottom: 10px;
}


header .navbar-default .navbar-toggle {
    margin-top: 50px;
    margin-bottom: 20px;
}



  /*--
	Slider Start
--*/

  #slider {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  #slider .block {
    padding-left: 0px;
  }
  #slider .block h1 {
      font-size: 30px;
      text-align: center;
  }
  #slider .block p {
    font-size: 23px;
      text-align: center;
      padding-right: 0px;
  }

  /*--
	Intro Start
--*/

#intro .par1 img {
  width: 103%;
  height: 500px;
  margin-top: 0px;
  padding-top: 0px;
}



#feature .feature1 {
text-align: center;
}

  #feature .btn-contact {
    margin: 5px 0 100px 0px;
    font-size: 17px;
  }

  #feature .btn-contact {
    padding: 1px 20px;
}

  #feature .feature2 {
    padding-top: 0px;
    padding-left: 15px;
}


  /*--
	service Start
--*/
  #service {
    padding-top: 100px;
  }
  #service .thumbnail {
    padding-bottom: 70px;
  }






  /*--
	call-to-action Start
--*/
  #call-to-action p {
    padding: 0px 0px 40px;
  }
  #call-to-action .btn {
    padding: 10px 20px;
    font-size: 15px;
  }
  /*--
	content Start
--*/
  #content {
    text-align: center;
    padding-top: 70px;
  }
  #content .block {
    padding-bottom: 100px;
  }
  #content .block h2 {
    padding-top: 0px;
  }
  #content .block-bottom {
    padding: 0px;
  }
  #content .block-bottom .item-img {
    padding-left: 0px;
  }
  /*--
	features Start
--*/
  #features .features-img {
    text-align: center;
  }
  /*---------------------------------------------
					Index Close
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					Work Start
-----------------------------------------------*/
  #slider-work {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #slider-work .block {
    padding-left: 0px;
  }
  #slider-work .block h1 {
    font-size: 20px;
  }
  #slider-work .block p {
    font-size: 11px;
    line-height: 25px;
  }
  /*--
	portfolio Start
--*/
  #portfolio-work .block .portfolio-manu {
    padding-left: 0px;
    text-align: center;
  }
  #portfolio-work .block .portfolio-manu ul li {
    padding: 0 8px;
  }
  #portfolio-work .block .portfolio-contant ul li {
    width: 50%;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading {
    padding: 5px 0 5px 13px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading h2 {
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading p {
    font-size: 11px;
    line-height: 20px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay {
    padding-left: 15px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay h2 {
    padding-top: 65px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
    padding-right: 5px;
  }
  /*--
	wrapper Start
--*/
  #wrapper-work ul li {
    float: none;
    width: 100%;
  }
  #wrapper-work ul li .items-text {
    padding-left: 15px;
    padding-top: 30px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
  }
  /*--
	features Start
--*/
  #features-work .block ul li {
    display: block;
    width: 100%;
  }
  /*---------------------------------------------
					Work close
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					contact Start
-----------------------------------------------*/

/*--
  Contact Start
--*/

#global-header .block h1 {

    margin-left: -70px;
}

  /*--
	slider-contact Start
--*/
  #slider-contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #slider-contact .block {
    padding-left: 0px;
  }
  #slider-contact .block h1 {
    font-size: 20px;
  }
  #slider-contact .block p {
    font-size: 11px;
    line-height: 25px;
  }
  /*--
	wrapper-contact Start
--*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  #wrapper-contact .block .location p {
    width: 100%;
  }
  #wrapper-contact .block .social-media-icon a i {
    padding-top: 30px;
  }
  /*--
	features-contact Start
--*/
  #features-contact .block ul li {
    display: block;
    width: 100%;
  }
  /*---------------------------------------------
					contact close
-----------------------------------------------*/
  /*--
	footer Start
--*/
  footer .footer-manu {
    display: none;
  }

}



@media only screen and (min-width: 425px) and (max-width: 667px) {

  header .navbar-default .navbar-toggle {
      margin-top: 50px;
      margin-bottom: 20px;
  }

  #feature .feature1 {
text-align: center;
}

    #feature .btn-contact {
      margin: 5px 0 100px 0px;
      font-size: 17px;
    }

    #feature .btn-contact {
      padding: 1px 20px;
  }

    #feature .feature2 {
      padding-top: 0px;
      padding-left: 15px;
  }


	}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
---------------------------------------------------------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
	Overrides styles for devices with a
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media only screen and (min-width: 375px) and (max-width: 425px) {

  /*--
  	Header Start
  --*/

  header .navbar-brand {
    padding-top: 20px;
    Width: 80%;
  }

  header .navbar-default .navbar-toggle {
      margin-top: 30px;
      margin-bottom: 20px;
  }
  /*--
    Slider Start
  --*/

  #slider {
    background: url("../img/smh.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 50%;
    position: relative;
    padding: 50px 0 100px 0;
  }
  #slider .block h1 {
    font-weight: 300;
    font-size: 35px;
    text-align: center;
  }
  #slider .block p {
    font-size: 20px;
  }
  #slider p {
    padding-right: 5px;
    text-align: center;
  }

  /*--
  	Intro Start
  --*/
  #intro {
    padding: 100px 0;
  }
  #intro .block h1 {
    text-align: center;
    padding: 10px 0px 35px 0;
  }
  #intro .block p {
    font-size: 20px;
    padding-right: 5px;
    text-align: center;
  }
  #intro .par1 img {
    width: 103.8%;
    height: 300px;
padding-top: 20px;

  }

  /*--
    Feature Start
  --*/
  #feature {
    padding: 100px 0 50px;
    background: url("../img/smh2.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 50%;
    position: relative;
  }

  #feature .feature {
    padding: 50px 10px 50px 20px;
  }

  #feature h1 {
  text-align: center;
  }
  #feature p {
    font-size: 20px;
    padding-right: 5px;
    text-align: center;
  }


  #feature .btn-contact {
    margin: 5px 0 100px 125px;
    font-size: 17px;
  }

  #feature .btn-contact {
    padding: 1px 20px;
}

  #feature .feature2 {
    padding-top: 0px;
    padding-left: 15px;
}

  /*--
    Service Start
  --*/

  #service {
    padding-top: 100px;
}


#team .team-members .team-avatar img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

/*--
  Contact Start
--*/

#global-header .block h1 {

    margin-left: -70px;
}

  /*--
  	footer Start
  --*/


  footer .navbar-brand {
    padding-top: 20px;
    Width: 100%;
    margin-bottom: 50px;
  }

}
  /*---------------------------------------------------------------------------- --------------------------------------   --*/
@media only screen and (min-width: 320px) and (max-width: 375px) {

  /*--
  	Header Start
  --*/

  header .navbar-brand {
    padding-top: 20px;
    Width: 80%;
  }

  .navbar-toggle {
    margin-top: 20px;
}

  /*--
    Slider Start
  --*/

  #slider {
    background: url("../img/smh.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 50%;
    position: relative;
    padding: 50px 0 100px 0;
  }
  #slider .block h1 {
    font-weight: 300;
    font-size: 35px;
    text-align: center;
  }
  #slider .block p {
    font-size: 17px;
  }
  #slider p {
    padding-right: 5px;
    text-align: center;
  }

  /*--
  	Intro Start
  --*/
  #intro {
    padding: 100px 0;
  }
  #intro .block h1 {
    text-align: center;
    padding: 10px 0px 35px 0;
  }
  #intro .block p {
    font-size: 17px;
    padding-right: 5px;
    text-align: center;
  }
  #intro .par1 img {
    width: 104.3%;
    height: 300px;
padding-top: 20px;
  }

  /*--
    Feature Start
  --*/
  #feature {
    padding: 100px 0 50px;
    background: url("../img/smh2.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 50%;
    position: relative;
  }

  #feature .feature {
    padding: 50px 10px 50px 20px;
  }

  #feature h1 {
  text-align: center;
  }
  #feature p {
    font-size: 17px;
    padding-right: 5px;
    text-align: center;
  }

  #feature .btn-contact {
    margin: 5px 0 100px 105px;
    font-size: 17px;
  }

  #feature .btn-contact {
    padding: 1px 20px;
}

  #feature .feature2 {
    padding-top: 0px;
    padding-left: 15px;
}

#team .team-members .team-avatar img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

  /*--
    Service Start
  --*/

  #service {
    padding-top: 100px;
}

/*--
  Contact Start
--*/

#global-header .block h1 {

    margin-left: -70px;
}

  /*--
  	footer Start
  --*/


  footer .navbar-brand {
    padding-top: 20px;
    Width: 100%;
    margin-bottom: 50px;
  }

}
  /*---------------------------------------------------------------------------- --------------------------------------   --*/
@media only screen and (max-width: 320px) {

  /*--
  	Header Start
  --*/

  header .navbar-brand {
    padding-top: 20px;
    Width: 75%;
  }

  .navbar-toggle {
    margin-top: 20px;
}

  /*--
  	Slider Start
  --*/


  #slider {
    background: url("../img/smh.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 50%;
    position: relative;
    padding: 50px 0 100px 0;
  }
  #slider .block h1 {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
  }
  #slider .block p {
    font-size: 17px;
  }
  #slider p {
    padding-right: 5px;
    text-align: center;
  }

  /*--
  	Intro Start
  --*/
  #intro {
    padding: 100px 0;
  }
  #intro .block h1 {
    text-align: center;
    padding: 10px 0px 35px 0;
  }
  #intro .block p {
    font-size: 17px;
    padding-right: 5px;
    text-align: center;
  }
  #intro .par1 img {
    width: 105.3%;
    height: 300px;
padding-top: 20px;
  }

  /*--
  	Feature Start
  --*/
  #feature {
  padding: 100px 0 50px;
  background: url("../img/smh2.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 50%;
  position: relative;
  }

  #feature .feature {
    padding: 50px 10px 50px 20px;
  }

  #feature h1 {
  text-align: center;
  }
  #feature p {
    font-size: 17px;
    padding-right: 5px;
    text-align: center;
  }

  #feature .btn-contact {
    margin: 5px 0 100px 70px;
    font-size: 17px;
  }

  #feature .btn-contact {
    padding: 1px 20px;
}

  #feature .feature2 {
    padding-top: 0px;
    padding-left: 15px;
}

  /*--
    Service Start
  --*/

  #service {
    padding-top: 100px;
  }


  /*--
    Contact Start
  --*/

  #global-header .block h1 {

      margin-left: -70px;
  }

  /*--
  	footer Start
  --*/


  footer .navbar-brand {
    padding-top: 20px;
    Width: 100%;
    margin-bottom: 50px;
  }

}
