---
layout: page
title: Human centric marketing for p2p & social impact startups
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1>HUMAN CENTRIC MARKETING FOR P2P & SOCIAL IMPACT STARTUPS</h1>
          <p>
            Zentribes is a non-profit organization that helps startups effectively engage their community. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->

<section id="col">
</section>




<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h1>Choosing the right path</h1>
          </div>



          <p>As a one-stop agency, we provide a full spectrum of online and offline marketing services aimed at maximizing value.<br><br>


             Our modular, strategic communication plan enables affordable solutions that are tailored to the needs of the project.<br><br>

            We help to ensure community budgets are allocated such that they have the greatest overall impact and return on investment. We make more out of less.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5">
      <div class="par1">
          <img src="img/road.png" alt="Choosing the right path">
  </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="col2">
</section>


<section id="feature">
  <div class="container">
    <div class="row">


      <div class="feature1 col-md-6">
        <h1>Contact Zentribes if you:</h1>

        <p>- Are an early stage project focused on development</p> <br>
        <p>- Need professional marketing and outreach support but do not yet have the means to add a full-time resource of your own</p> <br>
        <p>- Are driven by the impact of what it is you are building</p> <br>
        <p>- Want to build an engaged community who will support you and is invested in your success </p> <br>


        <div class="contact">
          <a href="{{ site.baseurl }}/contact" class="btn btn-contact">Get in touch</a>
        </div>
        <!-- <a href="#" class="btn btn-view-works">View Works</a> -->
      </div>

      <div class="feature2  col-md-6">


             <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="15000">
               <!-- Carousel indicators -->
                       <ol class="carousel-indicators">
                 <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
                 <li data-target="#fade-quote-carousel" data-slide-to="1" class="active"></li>
                 <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
               </ol>

               <!-- Carousel items -->
               <div class="carousel-inner">
                 <div class="item">
                   <img src="https://res.cloudinary.com/liberationfront/image/upload/v1563639333/image13263_cajg6a.png" alt="COO Rich James"
             class="center-block img-quadrata">
             <h3 class="text-center">Rich James</h3>
<br/>
<h2 class="text-center">Co Founder at <a href="https://decentr.net/">Decentr</a></h2>
<br>

                   <blockquote>
                     <p><i>“Extremely impressed with Zentribes' understanding of our design and marketing needs. We would highly recommend Zentribes to anyone who needs to refine their 'message' in conjunction with peerless web design elements and functionality.”</i></p>
                   </blockquote>
                 </div>
                 <div class="active item">
                   <img src="https://res.cloudinary.com/liberationfront/image/upload/v1565432076/image941_ryhdoa.png" alt="COO Rich James"
             class="center-block img-quadrata">

             <h3 class="text-center">Rachid Ajaja</h3>
<br/>
<h2 class="text-center">Co Founder at <a href="https://allianceblock.io/">AllianceBlock</a></h2>
<br>
                   <blockquote>
                     <p><i>"Zentribes are one of the few community managers who get not only involved professionally in the projects they work on, but also emotionally. They are operationally efficient at promptly defining frameworks and achieving milestones. AllianceBlock is very happy to be working with Zentribes on achieving our common vision."</i></p>
                   </blockquote>
                 </div>
                 <div class="item">
                   <img src="https://res.cloudinary.com/liberationfront/image/upload/v1565699058/image4964_taobeq.png" alt="COO Rich James"
             class="center-block img-quadrata">
             <h3 class="text-center">Dmitriy Barbarchuk</h3>
<br/>
<h2 class="text-center">Co Founder at <a href="https://chepeer.com/">Chepeer</a></h2>
<br>

                   <blockquote>
                     <p><i>“ZenTribes are not only about human centric marketing but above all - they’re driven by a startups’ interests centric approach. They know of all the core pain-points of early stage companies. And remain flexible & efficient enough to propose the best possible tailor-fitted solution at the areas of their expertise.”</i></p>
                   </blockquote>
                 </div>
               </div>
             </div>
      </div>

    </div>
  </div>
</section>

<section id="col3">
</section>


<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>OUR SERVICES</h2>
        <p>We are experts in building and improving the image of startups</p>
      </div>
    </div>

    <div class="row ">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-android-compass"></i>
          <h4>Marketing Strategy</h4>
          <p>“Lean and agile: funnel creation, target market identification, budgeting and KPI creation”</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-android-desktop"></i>
          <h4>Web Development</h4>
          <p>“From purpose to digital identity: web design, copy writing, SEO, and Google Analytics”</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-ios-contact"></i>
          <h4>Brand Identity</h4>
          <p>“Stand out from the crowd: core value development, logo design, and marketing materials”</p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-chatboxes"></i>
          <h4>Social Media</h4>
          <p>Community management, Content sharing, Boosting traffic & Building your relations </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-android-create"></i>
          <h4>Content Building</h4>
          <p> “Articles, videos, infographics, print ads, and media survival kits”</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-calendar"></i>
          <h4>Event Creation</h4>
          <p>“Meetups, ‘workations’, workshops, hackathons, keynotes, and conferences”</p>
        </div>
      </div>
    </div>

  <!--  <div class="row">
      <div class="works">
        <a href="{{ site.baseurl }}/work" class="btn btn-view-works">View Works</a>
      </div>
    </div> -->
  </div>
</section>

<section id="col4">
</section>

<!-- Call to action Start -->
<section id="team">
  <div class="container content">
    <div class="row">
      <div class="col-md-12">
        <h1>Who we are</h1>
            <p class="p1">As an assocation of experts, home in 3 continents; America, Europe & Asia. We offer you an unfair advantage with cross industrial competences in Digital Marketing, Tech Jurisdictions, Finance & Fundraising, Engineering; Distributed Ledger Technology & Artifial Intelligence. Providing not only communication services and accustomed advice, but also a large network pool of essential stakeholders ready to serve your startup's needs.</p>

      </div>


    </div><!-- //end heading -->


    <div class="row">


      <div class="col-sm-12 col-md-3">
          <img src="https://res.cloudinary.com/liberationfront/image/upload/v1565455613/lili_cjwsdg.png" alt="CTO Nikita Anikeev"
          class="img-quadrata center-block" >
          <h3 class="text-center" >Liliana Carrillo</h3>

          <h2 class="text-center">COO</h2>
          <br>
          <div class="a2">
    <p>As a computer engineer, researcher and (social) entrepreneur, Lili was active in cutting edge fields like agile education and artifical intelligence. Over the last 2 decades she has build an expertise in strategic communication for tech startups.</p>
              <a href="https://www.linkedin.com/in/carrilloliliana/"><i class="ion-social-linkedin"></i></a>
          </div>

      </div>
      <div class="col-sm-12 col-md-3">
          <img src="https://res.cloudinary.com/liberationfront/image/upload/v1565455613/gino_krbltj.png" alt="CFO Paul Sluszko"
          class="center-block img-quadrata" >
          <h3 class="text-center" >Gino Ludikhuyze</h3>

            <h2 class="text-center">CCO</h2>
          <br>

          <div class="a2">
    <p>As a selfmade marketer, Gino has consistently been educating himself by participating in startup circles since a young age, along these years he has gathered the skillset to align a startup's mission and vision in sync with their brand image.</p>
              <a href="https://www.linkedin.com/in/scrollit/"><i class="ion-social-linkedin"></i></a>
          </div>

      </div>
      <div class="col-sm-12 col-md-3">
          <img src="https://res.cloudinary.com/liberationfront/image/upload/v1565455613/isaac_nlipnk.png" alt="CFO Paul Sluszko"
          class="center-block img-quadrata" >
          <h3 class="text-center" >Isaac Butt</h3>

            <h2 class="text-center">CFO</h2>
          <br>

          <div class="a2">
    <p>As a former IBM project manager, Isaac is a seasoned negotiator with startups. With he's project management protocols Isaac can streamline the capacity of our team with the needs of our clients, together with an expertise in budget allocation.</p>
              <a href="https://www.linkedin.com/in/isaacbutt/"><i class="ion-social-linkedin"></i></a>
          </div>

      </div>
      <div class="col-sm-12 col-md-3">
          <img src="https://res.cloudinary.com/liberationfront/image/upload/v1565456492/image3927_vtkwfg.png" alt="CFO Paul Sluszko"
          class="center-block img-quadrata" >
          <h3 class="text-center" >Pranav Sharma</h3>

            <h2 class="text-center">CVO</h2>
          <br>

          <div class="a2">
    <p>As a VC officer and representative of tech startups, Pranav has shown incredible insights on scaling the industry of DLT. To Zentribes he is a visionair. And as such also the reason why he is the first person startups will come to, to find direction.
</p>
              <a href="https://www.linkedin.com/in/pranav-sharma-7a05b13/"><i class="ion-social-linkedin"></i></a>
          </div>

      </div><!-- //end row -->
  </div>
</section>





<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
              <img src="img/cotation.png" alt="IMG">
              <p>{{ tm.testimonial }}</p>
              <div class="user">
                <img src="{{ tm.image }}" alt="Pepole">
                <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
